.card-container {
  background-color: rgb(22, 24, 28);
  height: auto;
  width: 50%;
  min-width: 400px;
  max-width: 470px;
  border-radius: 16px;
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card-container-title-container {
  width: 100%;
  font-weight: bold;
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
}
.card-container-title-container-text {
  padding-left: 14px;
}
.card-container-showMore {
  width: 100%;
  height: 70px;
  background-color: transparent;
  transition: 0.2s background-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container-showMore-text {
  width: 90%;
  font-weight: lighter;
  color: rgb(29, 155, 240);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card-container-showMore:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
