.userCard-container {
  width: 100%;
  height: 100px;
  background-color: transparent;
  transition: 0.2s background-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userCard-container:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.userCard {
  width: 90%;
  height: auto;
  background-color: transparent;
  transition: 0.2s background-color;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userCard-userinfo-avatar {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.userCard-userinfo {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.userCard-userinfo-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.userCard-userinfo-names-fullname {
  font-weight: 530;
  font-size: medium;
  text-align: left;
}
.userCard-userinfo-names-username {
  color: rgb(113, 118, 123);
  font-size: 17px;
  text-align: left;
}
